pong-game {
    width: 100%;
    display: inline-block;
    height: 100vh;
    background: #31313a;

    #scoreboard {
        color: #f1f1f1;
        font-size: 24px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    #leftPaddle,
    #rightPaddle {
        $paddleWidth: 0.02;
        $paddleHeight: 0.15;
        left: 0;
        top: calc(50% - (100% * #{$paddleHeight} / 2));
        height: calc(100% * #{$paddleHeight});
        width: calc(100% * #{$paddleWidth});
        background: #f1f1f1;
        position: absolute;
        transition: top 0.1s;
    }
    #ball {
        width: 10px;
        height: 10px;
        background: #f1f1f1;
        position: absolute;
        left: calc(50% - 5px);
        top: calc(50% - 5px);
        transition: top 0.1s, left 0.1s;
    }
    #rightPaddle {
        left: unset;
        right: 0;
    }
}
