// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "./pong.scss";

[data-href] {
	cursor: pointer;
}

// data-page attribute is used to target specific pages
[data-page="test"] {
	overflow: hidden;
	height: 100vh;
	// background-color: red;
}

.form-signin {
    min-width: 400px;
}